<section class="container-fluid">
    <div class="table-responsive" *ngIf="userList">
        <table class="table">
            <thead>
                <th> # </th>
                <th> Usuario </th>
                <th> Eliminar </th>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                    <td> {{i+1+(5*(p-1))}} </td>
                    <td> {{user.username}} </td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteUser(user._id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" *ngIf="userList.length>5">
            <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
                nextLabel="Siguiente" class="my-pagination"></pagination-controls>
        </div>
    </div>
</section>