$color-white: #fff;
$color-light-gray: #d2d6de;
$color-transparent: rgba(255, 255, 255, 0.5);
$color-light-black: #2e2e2e;
$color-primary: #1BBAE1;
$color-warning: #e67e22;
$color-success: #27ae60;
$color-error: #e74c3c;
$color-alternative: #af64cc;
$color-text: #444;